<!DOCTYPE html>
<html>
    <head>
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <h2>EStore</h2>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<h1>Add Product</h1>

<form action="/add-product" method="POST">

    <input type="text" name="name" placeholder="Name">

    <input type="number" name="price" placeholder="Price">

    <input type="text" name="category" placeholder="Category">

    <input type="text" name="image" placeholder="Image">

    <textarea name="description"></textarea>

    <input type="number" name="stock" placeholder="Stock">

    <button type="submit">Add Product</button>

</form>

</body>
</html>