<!DOCTYPE html>
<html>
<head>
    <title>Home</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Home Page</h1>
    <a href="/products">Go to Products</a>
</body>
</html>