<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
    <h2>EStore</h2>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/add-product">Add Product</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

    <div class="product-details">

        <h1>Product Details</h1>

        <h2><%= product.name %></h2>

        <p><strong>Description:</strong> <%= product.description %></p>

        <p><strong>Price:</strong> $<%= product.price %></p>

        <p><strong>Stock:</strong> <%= product.stock %></p>

    </div>

</body>
</html>