<!DOCTYPE html>
<html>
    <head>
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <h2>EStore</h2>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<h1>Signup</h1>

<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Signup</button>
</form>

</body>
</html>